nav,header,footer {text-align:center;}
h1 {font-variant: small-caps;}
h2 {color:red;text-align:center;}
h3 {color:green;}
h4 {font-weight:bold;}
ul {list-style-type: none;}
a.bread {color:blue;}
nav {font-weight:bold; color:green;}
#content {background-color:white;max-width: 80ch;margin:auto;}
a {text-decoration:none;}
p {text-align:justify;}
hr {color:red;height:5px;background-color:red;border-width:0;}
.toc{margin-left:10%;margin-right:10%;}
.toch {font-size:Larger;font-weight:bold;}
.toci {margin-left:5%;}
.desc {margin-left:6%;}
